@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-nunito;
    }
}

::-webkit-scrollbar {
    @apply w-1 h-1;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-500;
}

.router-link-active {
    @apply bg-black text-white shadow-lg shadow-black/20 hover:shadow-lg hover:shadow-zinc-400/30;
}

.router-link-active.nested-drop {
    @apply hover:bg-black hover:shadow-lg hover:shadow-black/20;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
